<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.dedal.takedaanketa"
        version     = "1.0.0" >
		
		

    <name>Memorijalni centar Vukovar</name>

    <description>
       Memorijalni centar Domovinskog rata Vukovar
    </description>

    <author href="https://dedal.hr" email="info@dedal.hr">
        Zoran Milas
    </author>
	
	
	<plugin name="cordova-plugin-insomnia" version="4.1.0" source="npm" />
	<!--<plugin name="plugin.google.maps.menusito" spec="1.2.5" source="pgb">
		<param name="API_KEY_FOR_ANDROID" value="AIzaSyCLCGYyPrNQVSVNJMw563V98r7DnXXQaRI" />
	</plugin>-->
	<gap:plugin name="plugin.google.maps" source="plugins.cordova.io" version="~1.2.4">
		<param name="API_KEY_FOR_ANDROID" value="AIzaSyCLCGYyPrNQVSVNJMw563V98r7DnXXQaRI" />
		<!--<param name="API_KEY_FOR_IOS" value="123" />-->
    </gap:plugin>
	
	<!-- for iOS 
	<feature name="Insomnia">
	  <param name="ios-package" value="Insomnia" />
	</feature>-->
	<!-- for Android -->
	<feature name="Insomnia">
	  <param name="android-package" value="nl.xservices.plugins.Insomnia" />
	</feature>
	
	<!--<platform name="ios" />-->
	<platform name="android" />
	
	<preference name="orientation" value="portrait" />
	
	<icon src="icon.png" />
	<splash src="splash.png" />
	
	<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no' />
	<preference name="AllowInlineMediaPlayback" value="true"/>
	<preference name="KeyboardDisplayRequiresUserAction" value="false"/>
	<preference name="Fullscreen" value="true" />
	<preference name="DisallowOverscroll" value="true"/>
	<preference name="BackgroundColor" value="0xffffffff"/>
	<preference name="HideKeyboardFormAccessoryBar" value="true"/>
	

</widget>